* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #548687;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vmin;
    height: 60vmin;
    width: 60vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    background-color: #ffffc7;
    cursor: pointer;
}

/* O style */
.box.o {
    color: #2ecc71;
}

/* X style */
.box.x {
    color: #e74c3c;
}

.box:disabled {
    cursor: not-allowed;
    opacity: 0.9;
}

#reset-btn,
#new-btn {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#reset-btn:hover,
#new-btn:hover {
    background-color: #333;
    transform: scale(1.05);
}

#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.hide {
    display: none;
}
